<h1><%= @round.name %></h1>

<p><%= @round.group_limit %>人グループ</p>
<p><%= link_to "もう一回シャッフル", url_for(controller: :results, action: :reshuffle, id: @round.id) %></p>
<% @round.members.each do |member| %>
  <%= member.name %><br>
<% end %>
<hr>
<table border="1" align="left">
  <caption><%= @round.name %></caption>
  <thead>
    <tr>
      <th>テーブル番号</th>
      <% @round.group_limit.times do |n| %>
      <th><%= n+1 %>人目</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @group_members.each do |group_number, members| %>
      <tr>
        <td><%= group_number %></td>
        <% members.each do |member| %>
          <td><%= member.name %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>