<header id="header">
  <div class="container">
    <%= link_to "Matching", root_path %>
  </div>
  <nav>
    <ul>
      <li><%= link_to "参加者登録", new_member_path %></li>
      <li><%= link_to "ラウンド登録", new_round_path %></li>
      <li><%= link_to "参加者一覧", members_path %></li>
      <li><%= link_to "ラウンド一覧", rounds_path %></li>
    </ul>
  </nav>
</header><!-- /header -->